.city {
    background-size: 30rem 30rem;
}

.faasIrelandDublin {
    background-image: url('/w3images/dadublin.webp');
    height: 26rem;
}

.faasFranceParis {
    background-image: url('/w3images/daparis.webp');
    height: 26rem;
}

.faasGermanyFrankfurt {
    background-image: url('/w3images/dafrankfurt.webp');
    height: 26rem;
}

.faasJapanTokyo {
    background-image: url('/w3images/datokyo.webp');
    height: 26rem;
}

.faasUsaNorthVirginia {
    background-image: url('/w3images/danorthvirginia.webp');
    height: 26rem;
}

.faasIndiaMumbai {
    background-image: url('/w3images/damumbai.webp');
    height: 26rem;
}
